version: '3'

services:
  db:
    container_name: invoice_db
    image: postgres:15.15
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=123456
    ports:
      - 5432:5432